@model ServiceItem

@{
    string title = "Edit Service";
    ViewBag.Title = title;
}
<script src="~/js/ckeditor/ckeditor.js"></script>
<div>
    <form asp-area="Admin" asp-controller="ServiceItems" asp-action="Edit" method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="DateAdded" />

        <div asp-validation-summary="All"></div>
        <div class="div-box">
            <label asp-for="Title"></label>
            <input asp-for="Title" />
            <span asp-validation-for="Title"></span>
        </div>
        <div class="div-box">
            <label asp-for="SubTitle"></label>
            <input asp-for="SubTitle" />
            <span asp-validation-for="SubTitle"></span>
        </div>
        <div class="div-box">
            <label asp-for="TitleImagePath"></label>
            <input type="file" name="titleImageFile" id="titleImageFile" />
            <div>
                <img class="img-block" src="~/images/@Model.TitleImagePath"/>
            </div>
        </div>
        <div class="div-box">
            <label asp-for="Text"></label>
            <textarea id="Text" name="Text" asp-for="Text"></textarea>
            <span asp-validation-for="Text"></span>
        </div>
        <div class="div-box">
            <label asp-for="MetaTitle"></label>
            <input asp-for="MetaTitle" />
            <span asp-validation-for="MetaTitle"></span>
        </div>
        <div class="div-box">
            <label asp-for="MetaDescription"></label>
            <input asp-for="MetaDescription" />
            <span asp-validation-for="MetaDescription"></span>
        </div>
        <div class="div-box">
            <label asp-for="MetaKeyWords"></label>
            <input asp-for="MetaKeyWords" />
            <span asp-validation-for="MetaKeyWords"></span>
        </div>
        <input type="submit" value="Save" />
    </form>

</div>

<script>
    window.onload = function () {
        var editor = CKEDITOR.replace('Text');
    };
</script>